* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
  --container-width: 1200px;
  --header-height: 80px;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;
}

.dark {
  background: rgb(70, 68, 68);
  color: rgb(241, 241, 232);
}

.light {
  background: rgb(231, 223, 223);
  color: rgb(71, 71, 75);
}

 