.techStack {
    padding: 6rem 4rem;
    text-align: center;
  }

  .techStack h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .techStack p {
    font-size: 1.5rem;
    font-family: Arial Narrow, sans-serif;
    margin: 3rem 0 3rem;

  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
    max-width: 1200px;
    margin: 3rem auto 0;
  }

  .grid img {
    width: 150px;
    height: 150px;
    gap: 2rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #5e8da8;
    margin: 2rem 0 2rem;
  }

  .grid span {
    font-family: Arial Narrow, sans-serif;
    font-size: 1.5rem;
  }

  .tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.3s ease;
  }

  .tech:hover {
    transform: translateY(-5px);
  }

  .tech i {
    font-size: 3rem;
  }

  @media (max-width: 992px) {
  .grid img {
    width: 130px;
    height: 130px;
  }
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(1fr);
    }
    .techStack p {
    font-size: 1.3rem;
    margin: 2rem 0 2rem;
  }
  .techStack {
    padding: 3rem 2rem;
  }
  .techStack h2 {
    font-size: 2rem;
  }
  .grid img {
    width: 100px;
    height: 100px;
    gap: 0.5rem;
    margin: 1rem 0 1rem;
  }
  .grid span {
    font-size: 1.3rem;
  }
  }

  @media (max-width: 576px) {
    .grid img {
    width: 80px;
    height: 80px;
  }
  .grid span {
    font-size: 1.2rem;
  }
  .grid {
    gap: 0rem;
  }
  }

@media (max-width: 375px) {
  .grid span {
    font-size: 1rem;
  }
  .grid {
    gap: 0rem;
  }
  }